.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 10px;
}

.btn {
  color: grey;
  font-size: 20px;
  margin-top: 10px;
  min-width: 100px;
  padding: 5px;
  background-color: gold;
  border: 1px solid grey;
  border-radius: 5px;
}

.btn:hover,
.btn:focus {
  color: gold;

  background-color: grey;

  border: 1px solid gold;
}
